{% load static %}
<!DOCTYPE html>
<html>

<head>
    <title>{% block title %}ReadRcommend-books recommended by experts{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.6.5/flowbite.min.js"></script>
    {% block extra_head %}{% endblock %}
  </head>

<body>
    {% include "navbar.html" %}

    
    {% block content %}
    {% endblock content %}

    {% include 'footer.html' %}
    

</body>

</html>